@charset "utf-8";
@keyframes rainbow {
	000% {color: hsl(0, 100%, 40%);}
	012% {color: hsl(45, 100%, 40%);}
	025% {color: hsl(90, 100%, 40%);}
	038% {color: hsl(135, 100%, 40%);}
	050% {color: hsl(180, 100%, 40%);}
	062% {color: hsl(225, 100%, 40%);}
	075% {color: hsl(270, 100%, 55%);}
	088% {color: hsl(315, 100%, 55%);}
	100% {color: hsl(360, 100%, 40%);}
}
@keyframes backrainbow {
	000% {background-color: hsl(0, 100%, 40%);}
	012% {background-color: hsl(45, 100%, 40%);}
	025% {background-color: hsl(90, 100%, 40%);}
	038% {background-color: hsl(135, 100%, 40%);}
	050% {background-color: hsl(180, 100%, 40%);}
	062% {background-color: hsl(225, 100%, 40%);}
	075% {background-color: hsl(270, 100%, 55%);}
	088% {background-color: hsl(315, 100%, 55%);}
	100% {background-color: hsl(360, 100%, 40%);}
}
@keyframes flip {
  000% {
            transform: rotateX(0);
  }
  050% {
            transform: rotateX(90deg);
  }
  100% {
            transform: rotateX(90deg);
  }
}
@keyframes essay {
	0% {color: red}
	50% {color: hsl(60, 100%, 37.5%)}
	100% {color: green}
}
@keyframes fancyshow {
	0% {filter: invert(0.5)}
	33% {filter: invert(1)}
	100% {filter: invert(0)}
};
wbr:after { content: "\00200B" }
body {
	background: gray;
	font-family: 'Comfortaa', sans-serif;
	font-size: small;
	background-image: url(gingham.svg)
}
iframe.mainvid, div.mainvid {

	width: 162mm;
	height: 94mm;
	margin: 6mm 12mm;
    background: #0c22bb;


}
iframe.mainaud {

	width: 162mm;
	height: 32mm;
	margin: 6mm 12mm;

}
div.sheet {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background: white;
	box-shadow: 0 0 5mm #202020;
	margin: 12mm auto;
	min-height: 297mm;
	width: 210mm;
	position: relative;
}

blockquote {
	text-align: justify;
    margin: 6mm 12mm 6mm 12mm;
    font-style: italic;
    border: 0.25mm solid black;
    padding: 6mm;
    line-height: 6mm;
        white-space: pre-wrap;
}
blockquote span {
	transition: 1s;
}

#lesson-header {
	width: 100%;
}
#lesson-logo {
	height: 24mm;
	position: absolute;
	top: 3mm;
	left: 6mm;
}
#wordmark {
    height: 9mm;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 10.4mm;
}
#hex, #flips {
	height: 14mm;
	position: absolute;
	right: 6mm;
	top: 8mm;
}
#hextext1 {
	height: 7mm;
	position: absolute;
	right: 18mm;
	top: 8mm;
}
#hextext2 {
	height: 7mm;
	position: absolute;
	right: 18mm;
	top: 15mm;
}
#lesson-content {
	min-height: 100%;
	margin: 0 12mm 0 12mm;
}
#lesson-footer {
	width: 100%;
 	margin-top: 3mm;
}
#footer-web {
	height: 8mm;
	position: absolute;
	bottom: 2mm;
	left: 10mm;
}
#footer-soc {
	height: 8mm;
	position: absolute;
	bottom: 2mm;
	right: 10mm;
}
.mat {
	
	margin: 6mm 12mm 6mm 12mm;
	position: relative;
}
.mat table {
	font: inherit;
	border-collapse: collapse;
	border: 0.25mm solid black;
	width: 162mm;
}
th {
	background-color: gainsboro;
}
th, td {
	border: 0.25mm solid black;
	padding: 2mm;
	user-select: none;
	position: relative;
}
td.match-area {
	padding: 0;
	min-width: 30mm;
}
.flip {
	width: 2.3mm;
	position: absolute;
	top: 4.9mm;
}
.flip {
	animation: .2s cubic-bezier(0,0,1,0) 10 flip forwards;
	z-index: 3;
}
.stay {
	animation-fill-mode: backwards;
}

img.left {
	right: 6.6mm;
}
img.right {
	right: 3.3mm;
}
img.top {
	
}
img.bottom {
	animation-delay: .1s;
}
.mainpic {
	width: 162mm;
	margin: 6mm 12mm;
}
.stage-i {
	width: 162mm;
	margin: 12mm 12mm 0 12mm;
}
.stage-p {
	width: 162mm;
	margin: 0 12mm 12mm 12mm;
}
.stage-c {
	display: flex;
	flex-direction: column;
	position: absolute;
    left: 3mm;
    margin-top: 6mm;
}
.stage-c button:first-child {margin-top: 0}
.stage-c button:last-child {margin-bottom: 0}

.stage-c button, #lesson-toolbar button, #toolbar-btn-container button{
	height: 12mm;
    width: 12mm;
    font-size: x-large;
    margin: 3mm;
    display: flex;
    align-items: center;
    justify-content: center;
}

#lesson-toolbar label {
    font-size: x-large;
}
#lesson-toolbar input {
    font-size: large;
    /* height: 4mm; */
    width: 30mm;
}
.stage-c button:disabled {
	opacity: 0.2;
}
.stage {
	width: 162mm;
	margin: 12mm 12mm -6mm 12mm;
}
.select {
	width: 162mm;
	margin: 6mm 12mm 6mm 12mm;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}
.select p {
    margin: 0 0 3mm 0;
}
.select div {
    margin: 1.5mm;
}
.question {
    width: 50mm;
}
.comp {
	width: 162mm;
	margin: 6mm 12mm 6mm 12mm;
}
.unsc {
	width: 162mm;
	margin: 6mm 12mm 6mm 12mm;
}
.comp p, .unsc p {
    margin: 2mm 0 2mm 0;
    line-height: 6mm;
}
.unsc {
	width: 162mm;
	margin: 6mm 12mm 6mm 12mm;
}
input[type="radio"] {
	margin: 1mm 2mm;
    vertical-align: middle;
}
label {
	vertical-align: middle;
}
.n {
    font-weight: bold;
}

.gapfill {
	width: 162mm;
    text-align: justify;
    margin: 6mm 12mm 6mm 12mm;
    line-height: 6mm;
    word-break: break-word;
}
span.gap {
	border-bottom: 0.25mm solid black;
	display: inline-block;
	min-width: 16mm;
	outline: none;
	word-break: break-word;
	caret-color: black;
	min-height: 4mm;
	vertical-align: middle;
    padding-bottom: 0mm;
}
span.scramble {
	border-bottom: 0.25mm solid black;
	display: inline-block;
	min-width: 24mm;
	outline: none;
	word-break: break-word;
	caret-color: black;
	min-height: 4mm;
	vertical-align: middle;
    padding-bottom: 1mm;
}
span.essay {
	border-bottom: 0.25mm solid black;
	display: inline-block;
	min-width: 144mm;
	outline: none;
	word-break: break-word;
	margin: 2mm 0;
	caret-color: black;
	min-height: 4mm;
	vertical-align: middle;
    padding-bottom: 0.01mm;
}
.box {
    border: 0.25mm solid black;
    margin: 6mm 12mm;
    padding: 2mm;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: gainsboro;
}
.box span {
    margin: 1.5mm;
}

.right {
	font-weight: bold;
	color: hsl(120, 100%, 25%);
	stroke: hsl(120, 100%, 25%);
}
.right:after {
	content: " ✔";
}
.mostly-right {
	font-weight: bold;
	color: hsl(60, 100%, 37.5%);
	stroke: hsl(60, 100%, 37.5%);
}
.mostly-right:after {
	content: " ✱";
}
.not-quite-right {
	font-weight: bold;
	color: hsl(30, 100%, 50%);
}
.not-quite-right:after {
	content: " ⚠";
}
.wrong {
	font-weight: bold;
	color: hsl(0, 100%, 45%);
	stroke: hsl(0, 100%, 45%);
}
.wrong:after {
	content: " ✘";
}
.degrees {
	font-weight: bold;
	animation: essay 101s infinite linear;
    animation-play-state: paused;
}
svg {
	margin: 0;
	padding: 0;
	position: absolute;
	overflow: visible;
	top: 0;
	left: 0;
	pointer-events: none;
}
.chck {
	
	margin: 6mm 12mm 6mm 12mm;
	position: relative;
}
.chck table {
    font: inherit;
    border-collapse: collapse;
    border: 0.25mm solid black;
    width: 162mm;
}
td.catcell, td.itemcell, td.checkcell{
    border: none;
    text-align: center;
    padding: 1mm;
}
td.itemcell{
	text-align: left;
	padding-left: 2mm;
}
td.catcell{
	padding: 2mm 1mm;
	vertical-align: baseline;
}
.tight span{
	writing-mode: vertical-lr;
    transform: rotate(200deg) translateX(-4mm);
    transform-origin: left;
    text-align: left;
}
.flsh {
	width: 162mm;
    margin: 6mm 12mm 6mm 12mm;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.flashcard {
	width: 48mm;
    height: 48mm;
    background-position: center center;
    background-size: cover;
    text-align: center;
    margin: 3mm;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: x-large;
    overflow: hidden;
}


.flashcard img {
	width: calc(100% + 4px);
    height: calc(100% + 4px);
    object-fit: cover;
    position: absolute;
}


span.pos {
	top: 2mm;
    font-size: small;
}
span.pron {
	bottom: 2mm;
    font-size: small;
}
span.pron:after, span.exp:after {
	content: " 🔊"
}
div.flashcard.toggle img {
	background-color: black;
	filter: brightness(0.32) blur(2px);
}
div.flashcard.toggle span.form {
	position: absolute;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: white;
    width: 44mm;
	color: white;
}
.flashcard span.sep {
	display: none;
}
.flashcard:hover span.sep {
    display: flex;
}
div.flashcard.toggle span.pos {
    top: 2mm;
    font-size: small;
    position: absolute;
    color: white;
    width: 44mm;
}
div.flashcard.toggle span.pron {
    bottom: 3mm;
    font-size: small;
    position: absolute;
    color: white;
    width: 44mm;
}
span.syll:hover {
    text-shadow: 0 0 2mm white;
}
span.syll-p:hover {
    text-shadow: 0 0 2mm yellow;
    color: yellow;
}
#lesson-toolbar {
	position: fixed;
	left: 12mm;
    top: -58px;
    z-index: 3;
    width: calc(100% - 12mm);
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    transition: top 1s;
}
.inverted {
	filter: hue-rotate(180deg) invert(1);
	box-shadow: 0 0 5mm #DFDFDF !important;
}
body < div.inverted {
	background-color: #101010;
}
.namg {
	width: 162mm;
    margin: 6mm 12mm 6mm 12mm;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.namg-item {
	width: 36mm;
    margin: 2mm;
}
.namg-item img {
	width: 36mm;
    height: 36mm;
    object-fit: cover;
}

.namg-item span.gap {
    margin: 2mm 0 2mm 0;
    width: 28mm;
}
.conv {
	width: 162mm;
    margin: 6mm 12mm 6mm 12mm;
    display: flex;
    position: relative;
    justify-content: space-between;
}
.conv audio {
	position: absolute;
	width: 70mm;
	top: 74mm;
}
.convo {
	width: 70mm;
    height: 70mm;
    object-fit: cover;
    
}
.lines {
	width: 86mm;
    text-align: justify;
}
.lines p:first-child {
    margin-top: 0;
}
.lines p {
    margin: 2mm 0;
    line-height: 4mm;
}
.lines p:last-child {
    margin-bottom: 0;
}
.dim, .blurred {
	opacity: 0.1;
	filter: blur(3px);
}
.hiddenpic {
	filter: invert(0.5);
}
.target-language {
	background-image: url(card.png);
	width: 162mm;
    margin: 12mm;
    border: 0.25mm solid black;
    background-size: cover;
    position: relative;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

h2.tl-title {
    margin: 3mm;
    left: 15mm;
    top: 3mm;
    display: flex;
    justify-content: center;
    align-items: center;

}
.tl-banner {
    display: flex;
    justify-content: space-between;
    text-align: center;
}
img.tl-pic {
    width: 12mm;
    height: 12mm;
    margin: 3mm;
}
img.tl-pic:last-child {
    width: 12mm;
    height: 12mm;
    margin: 3mm;
    transform: rotate(180deg);
}
p.tl-prompt, p.tl-instr {
    margin: 3mm 6mm 0mm 6mm
}
p.exponent {
    text-align: center;
    font-style: italic;
}
.ccq {
    display: flex;
    flex-wrap: wrap;
        margin: 1.5mm 6mm;
}
.ccq p {
    width: 100%;
    margin: 3mm;
}
div.ccqopt {
    margin-left: 9mm;
}

table.struct {
    text-align: center;
    font-size: inherit;
    margin: 3mm 6mm;
    background-color: rgba(255,255,255,0.7);
    width: calc(100% - 12mm);
}
table.struct:last-child {
    margin-bottom: 6mm;
}
table.struct td{
    border: none;
}
table.exponents td, table.exponents tr {
    border: none;
    border-collapse: collapse;
    text-align: center;
    font-style: italic;
}
table.exponents {
	border-collapse: collapse;
	font: inherit;
	margin: 3mm 6mm;
	background-color: rgba(255,255,255,0.7);
}
div .phon {
    margin: 3mm 6mm;
    display: flex;
    flex-direction: row;
    text-align: justify;
    justify-content: space-between;
}
span.feature {
	font-size: 24mm;

	text-align: center;
    white-space: nowrap;
    margin-right: 3mm;
}

div.exponents {
	background-color: rgba(255,255,255,0.7);
	padding: 0.5mm;
	display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
span.exp {
    margin: 1.5mm;
}
.exp span.n {
    text-decoration: underline;
}
.phon p {
    margin-top: 0;
}
.tl-heading {
	text-align: center;
	margin: 3mm 6mm 1.5mm
}
div#toolbar-btn-container {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
}
#lesson-toolbar.shown {
	top: 0;
}
.target-language .box {
    background: rgba(255,255,255,0.7);
    /* background-image: url(stripes.svg); */
    border: none;
}
div.plus {
    position: absolute;
    right: -3mm;
    width: 6mm;
    top: 3mm;
}

#lesson-content .pick {
    text-align: justify;
    margin: 12mm 3mm;
    width: 162mm;
    margin: 6mm 6mm 6mm 6mm;
}
.target-language .pick {
    background-color: rgba(255,255,255,0.7);
    padding: 0.5mm;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 3mm 6mm;
    width: unset !important;
}
span.pickitem {
    margin: 1.5mm;
    width: 100%;
    text-align: center;
}
.pickitem span:hover, .mselitem:hover {
    font-weight: bold;
    text-shadow: 0 0 1px black;
}

span.pickitem {
    margin: 1.5mm;
    width: 100%;
    text-align: center;
    line-height: 6mm;
}
span.source {
	  float: right;
    position: relative;
    margin-right: 12mm;
    margin-top: -6mm;
    overflow-x: visible;
    text-align: right;
    display: block;
    max-width: 162mm;
    word-break: break-all;
    font-size: xx-small;
}
