
@keyframes shout1 {
	from {bottom: 1mm; top: 0mm}
	  to {bottom: 0mm; top: 1mm}
}
@keyframes shout2 {
	from {bottom: 2mm; top: 0mm}
	  to {bottom: 0mm; top: 2mm}
}
@keyframes shout3 {
	from {bottom: 4mm; top: 0mm}
	  to {bottom: 0mm; top: 4mm}

}
@keyframes noise {
	from {left: 1mm; right: 0mm}
	  to {left: 0mm; right: 1mm}
}

div.novel {
	padding-top: 28.125%;
	padding-bottom: 28.125%;
    font-size: 4.5mm;
    position: relative;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-position: center;
    background-size: cover;
    margin: 6mm 12mm;
}
.retreat {
    position: absolute;
    left: 0;
    top: 0;
    color: white;
    background: rgba(0,0,0,.5);
    width: 6mm;
    height: 6mm;
    text-align: center;
    padding: 2mm;
    user-select: none;
    line-height: 6mm;
}
.retreat:hover, .exit-fs:hover {
	color: yellow;
}
.exit-fs {
	position: absolute;
	display: none;
	right: 0;
	top: 0;
	color: white;
	background: rgba(0,0,0,.5);
	width: 6mm;
	height: 6mm;
	text-align: center;
	padding: 2mm;
	user-select: none;
	line-height: 6mm;
	z-index: 5;
}
div.novel-caption {
	user-select: none;
	position: absolute;
	text-align: center;
	font-family: 'Nunito', sans-serif;
	background-color: rgba(0,0,0,0.5);
	color: white;
	padding: 4mm;
	width: 100%;
	box-sizing: border-box;
}
div.novel-speech {
	user-select: none;
	bottom: 0;
	position: absolute;
	background-color: rgba(0,0,0,0.5);
	justify-self: flex-end;
	min-height: 25%;
	text-align: justify;
	font-family: 'Nunito', sans-serif;
	color: white;
	padding: 4mm;
	width: 100%;
    box-sizing: border-box;
}
.shout1 {
	position: relative;
	animation: shout1 0.1s infinite ease-in-out alternate;
}
.shout2 {
	position: relative;
	animation: shout2 0.1s infinite ease-in-out alternate;
}
.shout3 {
	position: relative;
	animation: shout3 0.1s infinite ease-in-out alternate;
}
.noise {
	position: relative;
	animation: noise 0.5s infinite ease-in-out alternate;
}
.mir {
	position: relative;
	transform: scaleX(-1);
}
.mon {
	filter: saturate(0) contrast(0.4) brightness(0.4);
}
img.char-pic {
	user-select: none;
	position: absolute;
	bottom: 0;
	height: 75%;
}
div.char-tag {
	user-select: none;
	position: absolute;
    font-weight: bold;
    top: -6mm;
    line-height: 3mm;
    background: rgba(0,0,0,.5);
    padding: 2mm 2mm 1mm 2mm;
}
p.novel-option {
	text-align: center;
	line-height: 4mm;
}
p.novel-option:first-child {
    margin-bottom: 4mm;
    margin-top: 2mm;
}
p.novel-option:last-child {
    margin-bottom: 2mm;
    margin-top: 4mm;
}
p.novel-option:hover::after {
    content: " ◀";
}
p.novel-option:hover::before {
    content: "▶ ";
}
p.novel-option:hover {
    color: yellow;
}


div.char-pic {
    position: absolute;
    bottom: 0;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-position: bottom;
}
button.novelbtn {
	height: 12mm;
    width: 12mm;
}
